USE [master]
GO
/****** Object:  Database [heladeria]    Script Date: 7/16/2020 2:13:14 PM ******/
CREATE DATABASE [heladeria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'heladeria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\heladeria.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'heladeria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\heladeria_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [heladeria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [heladeria]
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 7/16/2020 2:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[idDetalleVenta] [bigint] IDENTITY(1,1) NOT NULL,
	[idProducto] [bigint] NOT NULL,
	[idVenta] [bigint] NOT NULL,
	[cantidad] [bigint] NOT NULL,
	[precioTotal] [bigint] NOT NULL,
 CONSTRAINT [PK_DetalleVenta] PRIMARY KEY CLUSTERED 
(
	[idDetalleVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 7/16/2020 2:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[idEmpleado] [bigint] IDENTITY(1,1) NOT NULL,
	[dni] [bigint] NOT NULL,
	[nombres] [varchar](100) NOT NULL,
	[apellidos] [varchar](100) NOT NULL,
	[fechaNacimiento] [varchar](100) NULL,
	[direccion] [varchar](100) NOT NULL,
	[telefono] [varchar](100) NULL,
	[usuario] [varchar](100) NULL,
	[contraseña] [varchar](100) NULL,
 CONSTRAINT [PK_Empleados] PRIMARY KEY CLUSTERED 
(
	[idEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[historico_productos_eliminados]    Script Date: 7/16/2020 2:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historico_productos_eliminados](
	[idProducto] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[stock] [bigint] NULL,
	[precioVenta] [bigint] NOT NULL,
 CONSTRAINT [PK_historico_productos_eliminados] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[historico_sabores_eliminados]    Script Date: 7/16/2020 2:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historico_sabores_eliminados](
	[idSabor] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
 CONSTRAINT [PK_historico_sabores_eliminados] PRIMARY KEY CLUSTERED 
(
	[idSabor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 7/16/2020 2:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[idProducto] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[stock] [bigint] NULL,
	[precioVenta] [bigint] NOT NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sabores]    Script Date: 7/16/2020 2:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sabores](
	[idSabor] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Sabores] PRIMARY KEY CLUSTERED 
(
	[idSabor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 7/16/2020 2:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[idVenta] [bigint] IDENTITY(1,1) NOT NULL,
	[idEmpleado] [bigint] NOT NULL,
	[fechaVenta] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Venta] PRIMARY KEY CLUSTERED 
(
	[idVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vista_empleados]    Script Date: 7/16/2020 2:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vista_empleados]
AS
SELECT        dbo.Empleados.*
FROM            dbo.Empleados
GO
/****** Object:  View [dbo].[vista_productos]    Script Date: 7/16/2020 2:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vista_productos] as
select idProducto, nombre, stock, precioVenta from Productos ;
GO
/****** Object:  View [dbo].[vista_sabores]    Script Date: 7/16/2020 2:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vista_sabores] as 
select idSabor, Nombre from Sabores;
GO
SET IDENTITY_INSERT [dbo].[Empleados] ON 

INSERT [dbo].[Empleados] ([idEmpleado], [dni], [nombres], [apellidos], [fechaNacimiento], [direccion], [telefono], [usuario], [contraseña]) VALUES (1, 451, N'Alex David', N'Fretes', NULL, N'Laurelty Luque', N'0985xxx', NULL, NULL)
INSERT [dbo].[Empleados] ([idEmpleado], [dni], [nombres], [apellidos], [fechaNacimiento], [direccion], [telefono], [usuario], [contraseña]) VALUES (2, 4510, N'Alex David', N'Fretes Armoa', N'', N'Laurelty - Luque', N'', N'admin', N'12345')
SET IDENTITY_INSERT [dbo].[Empleados] OFF
GO
SET IDENTITY_INSERT [dbo].[historico_productos_eliminados] ON 

INSERT [dbo].[historico_productos_eliminados] ([idProducto], [nombre], [stock], [precioVenta]) VALUES (1, N'test', 0, 0)
INSERT [dbo].[historico_productos_eliminados] ([idProducto], [nombre], [stock], [precioVenta]) VALUES (2, N'Helado Cremoso', 10, 2000)
SET IDENTITY_INSERT [dbo].[historico_productos_eliminados] OFF
GO
SET IDENTITY_INSERT [dbo].[historico_sabores_eliminados] ON 

INSERT [dbo].[historico_sabores_eliminados] ([idSabor], [Nombre]) VALUES (1, N'test')
INSERT [dbo].[historico_sabores_eliminados] ([idSabor], [Nombre]) VALUES (2, N'Cremoso')
SET IDENTITY_INSERT [dbo].[historico_sabores_eliminados] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([idProducto], [nombre], [stock], [precioVenta]) VALUES (2, N'Helado de 1/2 kg', 20, 12000)
INSERT [dbo].[Productos] ([idProducto], [nombre], [stock], [precioVenta]) VALUES (3, N'Helado de 1/4 kg', 50, 6000)
INSERT [dbo].[Productos] ([idProducto], [nombre], [stock], [precioVenta]) VALUES (4, N'Helado en cucurucho 2 sabores', 100, 3000)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Sabores] ON 

INSERT [dbo].[Sabores] ([idSabor], [Nombre]) VALUES (1, N'Chocolate granizado')
INSERT [dbo].[Sabores] ([idSabor], [Nombre]) VALUES (2, N'Dulce de leche granizado')
INSERT [dbo].[Sabores] ([idSabor], [Nombre]) VALUES (3, N'Granizado')
SET IDENTITY_INSERT [dbo].[Sabores] OFF
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVenta_Productos] FOREIGN KEY([idProducto])
REFERENCES [dbo].[Productos] ([idProducto])
GO
ALTER TABLE [dbo].[DetalleVenta] CHECK CONSTRAINT [FK_DetalleVenta_Productos]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVenta_Venta] FOREIGN KEY([idVenta])
REFERENCES [dbo].[Venta] ([idVenta])
GO
ALTER TABLE [dbo].[DetalleVenta] CHECK CONSTRAINT [FK_DetalleVenta_Venta]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Venta_Empleados] FOREIGN KEY([idEmpleado])
REFERENCES [dbo].[Empleados] ([idEmpleado])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_Empleados]
GO
/****** Object:  StoredProcedure [dbo].[sp_insert_historico_productos_eliminados]    Script Date: 7/16/2020 2:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Alex Fretes
-- Create date: 14/7/2020
-- Description:	procedimiento para insertar historico de productos eliminados
-- =============================================
CREATE PROCEDURE [dbo].[sp_insert_historico_productos_eliminados] 
	-- Add the parameters for the stored procedure here
	@nombre varchar(100),
	@stock bigint,
	@precioVenta bigint
AS
BEGIN
	INSERT INTO historico_productos_eliminados
           (nombre
           ,stock
           ,precioVenta)
     VALUES
           (@nombre
           ,@stock
           ,@precioVenta);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insert_historico_sabores_eliminados]    Script Date: 7/16/2020 2:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Alex Fretes
-- Create date: 14/7/2020
-- Description:	procedimiento para insertar historico de sabores eliminados
-- =============================================
CREATE PROCEDURE [dbo].[sp_insert_historico_sabores_eliminados] 
	-- Add the parameters for the stored procedure here
	@nombre varchar(100)
AS
BEGIN
	INSERT INTO historico_sabores_eliminados
           (Nombre)
     VALUES
           (@nombre);
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Empleados"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 218
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vista_empleados'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vista_empleados'
GO
USE [master]
GO
